<!DOCTYPE html>
<html lang="en">

<head>
    <title>My-GITAM</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Distribution" content="Global" />
    <meta name="description" />
    <meta name="keywords" content="GITAM, Gat" />
    <meta name="theme-color" content="#007367" />
    <meta name="author" content="GITAM" />
    <meta name="copyright" content="GITAM" />
    <!-- favicon -->
    <link rel="shortcut icon" href="https://cdn.gitam.edu/images/favicon/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.gitam.edu/icon/boxicons-2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.gitam.edu/icon/remixIcon-3.1.1/remixicon.css">
    <link rel="stylesheet" href="https://cdn.gitam.edu/icon/fontawesome-6.4.0/css/all.min.css">

    <!-- Jquery UI -->
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/jquery-ui/css/jquery-ui.css">

    <!-- Data Tables -->
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/dataTables/dataTables.bootstrap5.min.css" />

    <!-- Sweet alerts -->
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/sweetAlert/sweetalert2.min.css" />

    <!-- Daterangepicker -->
    <link rel="stylesheet" href="https://cdn.gitam.edu/vendor/daterangepicker/css/daterange.min.css" />
    <link href="~/Content/css/wickedpicker.css" rel="stylesheet" />

    <!-- custome style -->

    <link rel="stylesheet" href="https://cdn.gitam.edu/css/root.css">
    <link href="~/Content/css/student.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!-- sider bar -->
        <div class="sidebar-bg"></div>
        <div class="sidebar ">
            <div class="logo-details">
                <span class="logo_name">

                    <img src="https://cdn.gitam.edu/images/logo/cats-logo-white.png" alt="CATS-logo">
                </span>
            </div>
 
            </div>
        </div>

        <!-- main content -->






            <!-- Jquery -->
            <script src="https://cdn.gitam.edu/js/jquery-3.6.0.js"></script>

            <!-- Jquery UI -->
            <script src="https://cdn.gitam.edu/vendor/jquery-ui/js/jquery-ui.js"></script>


            <!-- Bootstrap js -->
            <script src="https://cdn.gitam.edu/vendor/bootstrap-5.2.3/js/bootstrap.min.js"></script>

            <!-- Jquery validations -->
            <script src="https://cdn.gitam.edu/vendor/jqueryValidation/jquery.validate.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/jqueryValidation/jquery.validate.unobtrusive.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/jqueryValidation/jquery.unobtrusive-ajax.min.js"></script>


            <!-- Data Tables -->
            <script src="https://cdn.gitam.edu/vendor/dataTables/jquery.dataTables.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/dataTables.bootstrap5.min.js"></script>
            <script src="~/Content/js/wickedpicker.js"></script>
            <!-- Datatable file exports -->
            <script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.bootstrap5.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/JSZip-2.5.0/jszip.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.html5.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.print.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/dataTables/Buttons-2.3.6/js/buttons.colVis.min.js"></script>

            <!-- Sweet alerts -->
            <script src="https://cdn.gitam.edu/vendor/sweetAlert/sweetalert2.all.min.js"></script>


            <!-- Ckeditor -->
            <script src="https://cdn.gitam.edu/vendor/ckeditor-4.21.0/ckeditor.js"></script>


            <!-- Charts -->
            <script src="https://cdn.gitam.edu/js/apexcharts.js"></script>


            <!-- Daterangepicker -->
            <script src="https://cdn.gitam.edu/js/moment.min.js"></script>
            <script src="https://cdn.gitam.edu/vendor/daterangepicker/js/daterangepicker.min.js"></script>
            <script src="js/wickedpicker.js"></script>

            <!-- custome js -->
            <script src="https://cdn.gitam.edu/js/app.js"></script>

        
</body>

</html>
