
<!DOCTYPE html>
<html>
<body onload="myFunction()">


    <script>
        function myFunction() {
            console.log("page is fully loaded");

     

            window.location = "https://login.gitam.edu/Login.aspx";
        }
    </script>

</body>
</html>

