
<section class="content-container contentContainer">
    <div class="d-flex justify-content-between">
        <h5 class="page-title">Circulars / Notifications</h5>
        <div class="back">
            <a href="javascript:void(0);" onclick="location.reload();">
                <i class='bx bx-arrow-back'></i>
            </a>
        </div>
    </div>
    <div class="box-inner">

        <div class="row">
            <div class="col-md-2">
                <a href="~/Images/aicte/AICTE%20Clarification%20-%20English.pdf" target="_blank">
                    <div class="inner">
                        <img src="~/Content/images/file.png" />
                        <p>AICTE Clarification - English</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="~/Images/aicte/AICTE%20Clarification%20-%20Telugu.pdf" target="_blank">
                    <div class="inner">
                        <img src="~/Content/images/file.png" />
                        <p>AICTE Clarification - Telugu</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="~/Images/aicte/Category%20I%20Status.pdf" target="_blank">
                    <div class="inner">
                        <img src="~/Content/images/file.png" />
                        <p>Category I Status</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="~/Images/aicte/NAACGITAM_1.pdf" target="_blank">
                    <div class="inner">
                        <img src="~/Content/images/file.png" />
                        <p>NAAC A+ to GITAM</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="~/Images/aicte/Deemed%20status%20to%20GITAM.pdf" target="_blank">
                    <div class="inner">
                        <img src="~/Content/images/file.png" />
                        <p>Deemed status to GITAM</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="~/Images/aicte/Permission%20to%20Hyderabad%20campus.pdf" target="_blank">
                    <div class="inner">
                        <img src="~/Content/images/file.png" />
                        <p>Permission to Hyd campus</p>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="~/Images/aicte/PIB.pdf" target="_blank">
                    <div class="inner">
                        <img src="~/Content/images/file.png" />
                        <p>PIB</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>

