<div class="content-container ">
    <div class="d-flex justify-content-between">
        <h5 class="page-title">Admissions</h5>
        <div class="back" style="display: none;">
            <a href="javascript:void(0);" onclick="location.reload();">
                <i class="bx bx-arrow-back"></i>
            </a>
        </div>
    </div>

    <div class="inner_wrapper box-inner">
        <div class="grid-container">

        
            <h4>Yet to be published..</h4>
        </div>
       
    </div>
</div>

