<div class="table-responsive">
    <table  class="table table-bordered" id="Approvetbl">
        <thead>
            <tr>
                <th>#</th>
                <th>Reason</th>
                <th>Type</th>
                <th>Approved by</th>
                <th>Approved date</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody id="Approved">
        </tbody>
    </table>
</div>
