
@{
    ViewBag.Title = "BellTheCats";
}
@*<style>
    #container {
        width:100%;
    }
</style>*@
<div class="content-container contentContainer">
    <h1 class="page-title">Student helpdesk</h1>

    <div class="box-inner">
        <iframe src="https://gsbstudenthelpdesk.gitam.edu/gitam-auth/?username=@Session["EMAILID"]" title="Ticket" width="100%" height="100%" frameborder="0" allowfullscreen style="height:80vh"></iframe>

    </div>
</div>

