<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>Fee type</th>
                <th>Transaction ID</th>
                <th>Payment mode</th>
                <th>College</th>
                <th>Campus</th>
                <th>Reference ID</th>
                <th>Exam type</th>
                <th>Category</th>
                <th>Payment date</th>
                <th>Payment status</th>
                <th>Total fee</th>
            </tr>
        </thead>
        <tbody id="cdlfee">
        </tbody>
    </table>
</div>
<hr>

<div class="table-responsive">
    <table class="table table-bordered" id="dataTable1">
        <thead>
            <tr>
                <th>Subject code</th>
                <th>Subject name</th>
                <th>Semester</th>
                <th>Process type</th>
                <th>Payment date</th>
                <th>Reference ID</th>
            </tr>
        </thead>
        <tbody id="cdlevalfee">
        </tbody>
    </table>
</div>
<script></script>