<div class="table-responsive">
    <table class="table table-bordered" id="HistoryTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Reason</th>
                <th>Type</th>
                <th>Date</th>
                <th>Time</th>

            </tr>
        </thead>
        <tbody id="History">
        </tbody>
    </table>
</div>