
<div class="content-container contentContainer ">
    <div class="box-container-boreder ">
        
        <embed type="text/html" src="https://studentlms.gitam.edu/?Regdno=@Session["uid"].ToString()" width="100%" height="750">
    </div>
</div>