<Style>
    body {
        margin: 0;
    }

    .loginbg_image2 {
        background-image: url(./Content/images/loginbg_image2.jpg);
        background-repeat: no-repeat;
        height: 171px;
        background-position: center;
    }


    .loginbg_image3 {
        background-image: url(./Content/images/loginbg_image3.jpg);
        background-repeat: no-repeat;
        height: 143px;
        background-position: center top;
    }


    .header_imagebg {
        background-repeat: repeat-x;
        height: 228px;
        background-image: url(./Content/images/header_imagebg.jpg);
    }

    .header_imagebg2 {
        background-repeat: repeat-x;
        height: 88px;
        background-image: url(./Content/images/header_imagebg2.jpg);
    }

    .header_image3 {
        background-repeat: repeat-x;
        height: 228px;
        background-image: url(./Content/images/header_3.jpg);
    }

    .row {
        margin-bottom: 10px;
    }



    .loginbg {
        background-image: url(./Content/images/loginbg.jpg);
        background-repeat: repeat-x;
        height: 171px;
        background-position: center;
    }

    .vrg {
        width: 550px;
       @* height: 650px;*@
        background-image: url(./Content/images/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px;
    }

        .vrg > table {
            width: 500px;
            margin: 0 auto;
        }
        .vrg .table td {
            color: #1e1b1b;
            font-size: 13px;
            padding: 1px 10px;
        }
    .tableboarder {
        border: 1px solid #52000C;
    }

    .bgcol_button {
        height: 35px;
        background-repeat: repeat-x;
        background-image: url(./Content/images/bg_buttons.jpg);
    }

    .header_back {
        background-image: url(./Content/images/header_back.jpg);
        background-repeat: repeat-x;
        height: 170px;
    }


    .header_image {
        background-image: url(./Content/images/header_image.jpg);
        background-repeat: no-repeat;
        height: 228px;
    }



    .header_2 {
        background-image: url(./Content/images/header_2.jpg);
        background-repeat: no-repeat;
        height: 76px;
        background-position: center;
    }


    .header_imagebg {
        background-repeat: repeat-x;
        height: 228px;
        background-image: url(./Content/images/header_imagebg.jpg);
    }

    .header_imagebg2 {
        background-repeat: repeat-x;
        height: 88px;
        background-image: url(./Content/images/header_imagebg2.jpg);
    }

    .header_image3 {
        background-repeat: repeat-x;
        height: 228px;
        background-image: url(./Content/images/header_3.jpg);
    }


    .top_bg {
        background-image: url(./Content/images/bg_top.jpg);
        background-repeat: repeat-x;
        height: 33px;
    }

    .home_bg1 {
        background-image: url(./Content/images/home_bg1.jpg);
        background-repeat: repeat-x;
        height: 337px;
    }



    .text {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #333333;
        text-decoration: none;
    }

    .back2 {
        background-image: url(./Content/images/back2.gif);
        background-repeat: repeat-x;
        background-position: left;
        height: 29px;
    }

    .textdate {
        font-family: verdana;
        font-size: 12px;
        font-weight: normal;
        color: #FFFFFF;
        text-decoration: none;
    }


    a {
        font-family: verdana;
        font-size: large;
        font-weight: normal;
        color: #000000;
        text-decoration: none;
    }


        a:hover {
            font-family: verdana;
            font-size: 12px;
            font-weight: normal;
            color: #FFFFFF;
            text-decoration: none;
        }



    .subhead {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #333333;
        text-decoration: none;
        font-weight: bold;
    }


    .subhead2 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #000;
        text-decoration: none;
        font-weight: normal;
    }


    a:hover {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #FFFFFF;
        text-decoration: underline;
    }

    .tdcol {
        background-color: #DCDDD2;
    }


    .tdcol2 {
        background-color: #BFBDA1;
    }

    .newbutton a {
        font-family: verdana;
        font-size: 12px;
        font-weight: normal;
        color: #000000;
        text-decoration: none;
    }

    .text1 {
        font-family: verdana;
        font-size: 12px;
        font-weight: normal;
        color: #FFFFFF;
        text-decoration: none;
    }

    .newbutton a:hover {
        font-family: verdana;
        font-size: 12px;
        font-weight: normal;
        color: #808284;
        text-decoration: underline;
    }

    .line {
        border: 1px solid #E4E4E4;
    }

    .css {
        border: 1px solid #C7C7C7;
    }

    .text3 {
        font-family: verdana;
        font-size: 12px;
        font-weight: bold;
        color: #FF0000;
        text-decoration: none;
    }

    .footer_text {
        font-family: verdana;
        font-size: 11px;
        font-weight: normal;
        color: #FFFFFF;
        text-decoration: none;
        text-align: right;
        padding-right: 20px;
    }



    .tdcol3 {
        background-color: #EBEBEB;
    }

    .footer_bg {
        background-image: url(./Content/images/footer_bg.jpg);
        background-repeat: repeat-x;
        height: 26px;
    }


    .header_2_bg {
        background-image: url(./Content/images/header_2_bg.jpg);
        background-repeat: repeat-x;
        height: 76px;
    }
    @@media screen and (max-width:595px){
        .vrg, .vrg > table {
            width: 100%;
        }

    }
</Style>

<center>

    <div class="vrg" id="resultview" style="display:none;">
        <table border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>

                <th height="30" colspan="4" align="center" style="font-size: 24px;text-align:center;">
                    GITAM&nbsp;
                </th>

            </tr>
            <tr id="trdeemed">
                <td colspan="4" align="center" style="font-size: 14px">
                    <label ID="lbldemed" Font-Bold="true">(Deemed to be University)</label>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="font-size: 18px">
                    &nbsp;<label ID="lblcourse" Text="lblcourse"></label>
                    <label ID="Label11">Degree Examinations</label>

                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table border="0" align="center" cellpadding="0" cellspacing="0" style="height: 19px;
                            width: 100%">
                        <tr>
                            <td align="center" style="height: 30px">
                                Semester‎/‎Trimester : ‎<label ID="lblsem" Text="lblsem"></label>
                            </td>
                            <td align="center">
                                Month‎/‎Year‎ :
                                <label ID="lblmonth" Text="lblmonth"></label>
                                /‎<label ID="lblyear" Text="lblyear"></label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <strong>RESULT SHEET
                </td>
            </tr>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td colspan="4">
                </td>
                <td width="50%" align="left">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td style="height: 30px">
                                                Name :
                                                <label ID="lblname" Text="lblname"></label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="50%" align="right">
                    Regd No :<label ID="lblregdno" Text="lblregdno"></label>
                </td>
            </tr>
        </table>
        @*<tr id="trKoutilya">
            <td style="height: 30px" colspan="4">
                Institute :<label ID="lblinstitute" Text="Kautilya School of Public Policy"></label>
            </td>
        </tr>*@
        <tr>
            <td style="height: 30px">
                Branch : <label ID="lblbranch" Text="lblbranch"></label>
            </td>
            <td align="left">
                &nbsp;
            </td>
            <td align="right">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td align="right">
                &nbsp;
            </td>
        </tr>
        </table>
       
            <div id="div_datatable2"></div>

        <table>
        <tr>
            <td>
                <table style="float: left;" visible="false" id="tbl1">
                    <tr>
                        <td>
                            <label ID="lblsat" Text=""></label>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label ID="lblunsat" Text=""></label>

                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 100px;">
                <table style="float: right;">
                    <tr>
                        <td>
                            GPA :
                        </td>
                        <td>
                            <label ID="lblgpa" Text="lblgpa"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CGPA:
                        </td>
                        <td>
                            <label ID="lblcgpa" Text="lblcgpa"></label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>  </table>
       
        <table>
        
      
        <tr>
            <td>
            </td>
            <td style="white-space: nowrap">
            </td>
        </tr>


        <tr>
         

            <td colspan="4" align="center" class="style1">
                <Label ID="Label12"
                       Text=""
                       style="font-weight: 700">AL- Announced Later</Label>
            </td>
            <td>

                &nbsp;
            </td>
        </tr>

        <tr>
           
            <td class="style1" colspan="4" align="center">
                <Label ID="Label13" style="font-weight: 700"
                       Text=" ">*F - Failed in Internals</Label>
            </td>
            <td style="white-space:nowrap">
            </td>
        </tr>

        <tr>
           
            <td class="style1" colspan="4" align="center">
                <Label ID="Label14" style="font-weight: 700"
                       Text="">F - Fail</Label>
            </td>
            <td style="white-space:nowrap">

                &nbsp;
            </td>
        </tr>

        <tr>
           
            <td class="style1" colspan="4" align="center">
                <Label ID="Label15" style="font-weight: 700"
                       Text="">Ab - Absent</Label>
            </td>
            <td style="white-space:nowrap">

                &nbsp;
            </td>
        </tr>
        </table>

    

    </div>

</center>