<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Reason</th>
                <th>Type</th>
                <th>Date</th>
                <th>From time</th>
                <th>To time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="underprocess">
        </tbody>
    </table>
</div>
<script>
  
</script>