<link rel="stylesheet" href="https://cdn.gitam.edu/vendor/bootstrap-5.2.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.gitam.edu/css/root.css">
<link rel="stylesheet" href="https://cdn.gitam.edu/vendor/sweetAlert/sweetalert2.min.css" />
<style>

</style>
<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h5>Password reset</h5>
        <button class="btn btn-primary mb-1" id="Button3" OnClick="reset()">Logout</button>
        </div>
        <div class="box-inner xs-margin-bottom-75">
            <div class="row m-t-4">
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-7 mx-auto student_search ">
                    <div class="student_search_inner">
                        <div class="input-group mr-4">
                            @*<TextBox  ID="txtgathallticket" class="form-control" placeholder="Search by Registration number" MaxLength="15"></TextBox>*@
                            <input type="text" class="form-control" ID="txtgathallticket" placeholder="Search by Registration number" MaxLength="15" />
                            <div class="input-group-append">

                                <button class="btn btn-primary btn-left" type="button" id="Button1" OnClick="btn_get()">Search</button>
                                <button class="btn btn-primary" type="button" id="Button2" OnClick="loaddata()">Reset</button>


                            </div>
                            <label class="error" id="validmsg" style="display:none;">Please enter valid student ID</label>
                        </div>
                        <div class="d-flex">

                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5" id="student_details" style="display:none;">
                <h3 class="text-center">Student details</h3>
                <div class="box-container-border xs-margin-bottom-75">
                    <div class="row wel">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label> Registration number </label>
                                        <input type="text" class="form-control" ID="txtregdno" value="" readonly />
                                        @*<TextBox ID="txtregdno" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        <label> Student name </label>
                                        <input type="text" class="form-control" ID="txtname" value="" readonly />
                                        @*<TextBox ID="txtname" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>

                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        <label> Parent name </label>
                                        <input type="text" class="form-control" ID="txtfathername" value="" readonly />
                                        @*<TextBox ID="txtfathername" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> Campus</label>
                                        <input type="text" class="form-control" ID="txtcampus" value="" readonly />
                                        @*<TextBox ID="txtcampus" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label> Institute </label>
                                        <input type="text" class="form-control" ID="txtinstitute" value="" readonly />
                                        @*<TextBox ID="txtinstitute" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <labe> Branch </labe>
                                        <input type="text" class="form-control" ID="txtbranch" value="" readonly />
                                        @*<TextBox ID="txtbranch" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label> Current semester </label>
                                        <input type="text" class="form-control" ID="txtsen" value="" readonly />
                                        @*<TextBox ID="txtsen" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>


                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label> Section </label>
                                        <input type="text" class="form-control" ID="txtsection" value="" readonly />
                                        @*<TextBox ID="txtsection" class="form-control" ReadOnly="True"></TextBox>*@
                                    </div>
                                </div>




                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12 col-sm-2" id="QRIMG">
                            @*<img alt="Student Photo" class="photo img-responsive" src="#" id="img1" />*@
                        </div>




                    </div>
                </div>


                <div class="text-center">
                    <button id="Btnreset" class="btn btn-primary" OnClick="btn_resetpassword()">Reset password</button>
                    @*<button ID="Btnreset" class="btn btn-success btn-sm" Text="Reset password" OnClick="btn_reset" />*@
                    <Label ID="sucess" class="error" Style="text-align: center;"></Label>
                </div>


            </div>

        </div>
    </div>
<script src="https://cdn.gitam.edu/js/jquery-3.6.0.js"></script>

<!-- Jquery UI -->
<script src="https://cdn.gitam.edu/vendor/jquery-ui/js/jquery-ui.js"></script>


<!-- Bootstrap js -->
<script src="https://cdn.gitam.edu/vendor/bootstrap-5.2.3/js/bootstrap.min.js"></script>
<script src="https://cdn.gitam.edu/vendor/sweetAlert/sweetalert2.all.min.js"></script>


<script>
    $(document).on('click', '#Btnreset', function (e) {
       
    });


    function btn_get() {
        debugger;
        var regno = document.getElementById('txtgathallticket').value;

        $.ajax({
            type: 'GET',
            url: './btn_get',
            data: {
                regno: regno

            },
            datatype: JSON,
            success: function (data) {
               // debugger;
               // console.log(data);
                if (data != null) {
                    if (data.qrtext == "Invalid student") {
                        swal('Invalid student', '', 'error');
                    }
                    else {
                        $('#student_details').show();
                        document.getElementById('txtregdno').value = data.regdno;
                        document.getElementById('txtname').value = data.name;
                        document.getElementById('txtfathername').value = data.father_name;
                        document.getElementById('txtcampus').value = data.CAMPUS;
                        document.getElementById('txtinstitute').value = data.COLLEGE_CODE;
                        document.getElementById('txtbranch').value = data.BRANCH_CODE;
                        document.getElementById('txtsen').value = data.CURRSEM;
                        document.getElementById('txtsection').value = data.section;
                        //var img = document.getElementById('img1')
                        //  img1.Src = "https://doeresults.gitam.edu/photo/img.aspx?id=" + userid + "";

                        document.getElementById('QRIMG').innerHTML = "";

                        $('#QRIMG').append(data.qrtext);
                    }
                }
                
            }
        });



    }


    function btn_resetpassword() {


        $.ajax({
            type: 'GET',
            url: './btn_reset',
            datatype: JSON,
            success: function (data) {

                console.log(data);

                if (data != null) {
                    if (data.qrtext == "Reset successfull") {

                        swal('Reset successfull', '', 'success');
                        setTimeout(loaddata, 4000);

                    }
                    else {
                        swal('Cancelled', '', 'error');
                    }
                }
            }
        });


    }


    function loaddata() {
        //debugger;
        location.reload();
    }


    function reset() {
       
        //$.ajax({
        //    type: 'GET',
        //    url: './reset',
        //    datatype: JSON,
        //    success: function (data) {

        //    }
        //});


        history.back();
    }

</script>

